<%- include('partials/header') -%>

<div class="container mt-5">
  <div style="margin: 1rem;" class="flex-column justify-content-center mt-5">
    <div ><a href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a></div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="">
        <div class="p-4">
          <h3><%= challenge.title %></h3>
        </div>
        <div class="card-body">
          <p><%= challenge.description %></p>
             
              <p class="badge rounded-pill"> Participants: <%= challenge.participants.length %></p>
           
             
              <p class="badge rounded-pill"> Ends: <%= challenge.endDate.toString().slice(15, -30) %></p>
              <!-- convert participants toString() -->
          <% const participants = challenge.participants.map(participant => participant.toString()) %>
          <% if (loggedUser && !participants.includes(loggedUser._id.toString())) { %>
          <form action="/challenges/<%= challenge._id %>/join" method="POST">
            <button type="submit" class="btn btn-primary mt-3">Join Challenge</button>
          </form>
          <% } else {%>
            <button id="openPostForm" class="btn btn-primary" >Submit Challenge</button>
            <div id="postForm">
              <div >
                <h3><%= challenge.title %></h3>
                <p>Submit your challenge to leaderboard</p>
              </div>
            <form action="/challenges/<%= challenge._id %>/submit" enctype="multipart/form-data" method="POST">
              <div class="mb-2">
   
                <div class="mb-2 mt-2">
                  <label for="reps" class="form-label">Number of reps</label>
                  <input class="w-100" type="number" id="reps" name="reps" required>
                </div>
            
              </div>
              <div class="mb-2">
                <label for="mediaUpload" class="form-label">Media (Video)</label>
                <input type="file" class="form-control" id="mediaUpload" name="media" accept="video/*" required>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit Challenge</button>
          
            </form>
            <i id="closePostForm" class="fas fa-times close-icon"></i>
            </div>
          <% } %>
        </div>
        
        <div class="col-12 table-responsive">
          <table class="styled-table">
            <thead>
              <tr>
                <th style="border-radius: 1em 0 0 0!important;"></th>
                <th>User</th>
                <th style="border-radius: 0 1em 0 0!important;">Reps</th>
              </tr>
            </thead>
            <tbody>
              <% submissions.forEach((submission, index) => { %>
                <% console.log(submission.submission._id)%>
              <tr>
                <td><%= index + 1 %></td>
                <td>
                  <a href="/challenges/submission/<%= submission.submission._id %>" class="post">
                    <%= submission.user.userName %>
                  </a>
                </td>
                <td>
                  <a href="/challenges/submission/<%= submission.submission._id %>" class="post">
                    <%= submission.submission.reps %>
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<script>
  //Add Post Form
 const postForm = document.querySelector('#postForm');
 const openPostFormBtn = document.querySelector('#openPostForm');
 const closePostFormBtn = document.querySelector('#closePostForm');
 
 openPostFormBtn.addEventListener('click', () => {
   postForm.classList.add('show');
 });
 
 closePostFormBtn.addEventListener('click', () => {
   postForm.classList.remove('show');
 });
 
 
 </script>
 
<%- include('partials/footer') -%>
