<%- include('partials/header') -%>
<div class="container">
  <div class="flex-column justify-content-center mt-5">
    <ul class="col-12 col-md-8 col-lg-6 list-unstyled mx-auto">
      <% for(var i=0; i<mergedArray.length; i++) {%>
        
      <li class="post-item mb-5">
        <div class="d-flex align-items-center mb-1 p-2">
   
            <a href="/profile/<%= mergedArray[i].user._id %>" >
              <div class="d-flex flex-row align-items-center">
                <img class="rounded-circle mr-3" src="/imgs/Default-Profile-Picture-Transparent-Images.png" alt="Profile picture" width="30" height="30">
                <span class="font-weight-bold"><%= mergedArray[i].user.userName.toLowerCase() %></span>
              </div>
            </a>

        </div>
        
          <div class="post-thumbnail">
            <% if(mergedArray[i].media.type == "image"){ %>
              <a href="/post/<%= mergedArray[i]._id%>" class="post">
               <img class="img-fluid post-img" src="<%= mergedArray[i].media.url %>" alt="Image">
              </a>
            <% }else{ %>
              <video class="post-thumbnail" id="my-video-<%= mergedArray[i]._id %>" controls autoplay muted loop>
                <source src="<%= mergedArray[i].media.url %>" type="video/mp4">
              </video>
            <%}%>
          </div>
          <div class="post-info ml-3 d-flex flex-column p-2">
            <div class="d-flex align-items-center mb-1">
              <div class="d-flex flex-column">

                <% if(mergedArray[i].catagory) {%>
                  <div class="d-flex flex-row align-items-center">
                   
                    <h3>PERSONAL RECORD</h3>
                    
                  
                    <div class="trophy-icon">
                      <i class="fas fa-trophy"></i>
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                  <p ><%= mergedArray[i].catagory %></p>
                </div>
                <%}%>
                <a href="/post/<%= mergedArray[i]._id%>" class="post">
                <span class="font-weight-bold mr-1"><%= mergedArray[i].caption %></span>
                <span class="text-muted"><%= mergedArray[i].createdAt.toDateString() %></span>
             
           
              </div>
            </div>
           
            <div class="mb-3">
    
              <span class="font-weight-bold mr-1"><%= mergedArray[i].likes %></span>
              <span class="text-muted">likes</span>
              
            </div>
          </a>
          </div>
     
      </li>
  
      <% } %>
    </ul>
  </div>
</div>
<script>
const videos = document.querySelectorAll("[id^='my-video-']");

const observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const video = entry.target;
    if (entry.isIntersecting) {
      video.play();
    } else {
      video.pause();
    }
  });
});

videos.forEach(video => {
  observer.observe(video);
});
</script>
<%- include('partials/footer') -%>


