<%- include('partials/header') -%>
<div class="container">
  <div class="flex-column justify-content-center mt-5">
    <ul class="col-12 col-md-8 col-lg-6 list-unstyled mx-auto">
      <% for(var i=0; i<mergedArray.length; i++) {%>
        
        <li id="post-<%= mergedArray[i]._id %>" class="post-item mb-5 lazy">
          <div class="d-flex align-items-center mb-1 p-2">
              <a href="/profile/<%= mergedArray[i].user._id %>" >
                <div class="d-flex flex-row align-items-center">
                  <img class="rounded-circle mr-3 feed-pic" src="<%= mergedArray[i].user.profilePic %>" alt="Profile picture" width="30" height="30">
                  <span class="font-weight-bold"><%= mergedArray[i].user.userName.toLowerCase() %></span>
                </div>
              </a>
          </div>
          <div class="post-thumbnail">
        <!-- Check if the browser is Safari -->
        <% if (mergedArray[i].media.type === "video" && browser.name === "safari") { %>
          <a href="/post/<%= mergedArray[i]._id %>" class="post">
            <img class="img-fluid post-img lazy" data-src="<%= mergedArray[i].media.url %>" alt="Video">
          </a>
        <% } else if (mergedArray[i].media.type == "video") { %>
          
        <a href="/post/<%= mergedArray[i]._id %>" class="post">
          <video 
          
          id="my-video"
          class="video-js vjs-big-play-centered img-fluid post-video"
          disableRemotePlayback
          autoplay
          loop
          muted
          controls
          preload="auto"
          poster="<%= mergedArray[i].media.thumbnailUrl %>"
          data-setup='{"fluid": true, "userActions": {"doubleClick": false}, "controlBar": { "fullscreenToggle": false, "pictureInPictureToggle": false }}'
          playsinline
          >
            <source src="<%= mergedArray[i].media.url %>" type="video/mp4">
           
          </video>
        </a>
        <% } else { %>
          <a href="/post/<%= mergedArray[i]._id %>" class="post">
            <img class="img-fluid post-img lazy" data-src="<%= mergedArray[i].media.url %>" alt="Image">
          </a>
        <% } %>
      
        
          </div>
          <div class="post-info ml-3 d-flex flex-column p-2">
            <div class="d-flex align-items-center mb-1">
              <div class="mb-3">
                <span class="font-weight-bold mr-1"><%= mergedArray[i].likes %></span>
                <span class="text-muted">likes</span>
              </div>
            </div>
              <div class="d-flex flex-column">
                <% console.log(mergedArray[i]) %>
                <% if(mergedArray[i].category) {%>
                  <div class="d-flex flex-row align-items-center">
                    <h3>PERSONAL RECORD</h3>
                    <div class="trophy-icon">
                      <i class="fas fa-trophy"></i>
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <p ><%= mergedArray[i].category %></p>
                  </div>
                <%}%>
                <a href="/post/<%= mergedArray[i]._id%>" class="post">
                  <span class="font-weight-bold mr-1"><%= mergedArray[i].caption %></span>
                  <span class="text-muted"><%= mergedArray[i].createdAt.toDateString() %></span>
                  <span class="text-muted">view comments</span>
                </a>
              </div>
            </div>
           
        </li>
        
      <% } %>
      
    
      
    </ul>
  </div>
</div>

<script src="/js/lazyLoadPosts.js">
  
</script>

<%- include('partials/footer') -%>