<%- include('partials/header') -%>
<div class="container">
  <div class="flex-column justify-content-center mt-5">
    <ul class="col-12 col-md-8 col-lg-6 list-unstyled mx-auto">
      <% for(var i=0; i<mergedArray.length; i++) {%>
        
        <li id="post-<%= mergedArray[i]._id %>" class="post-item mb-5 lazy">
          <div class="d-flex justify-content-between align-items-center mb-1 p-2">
              <a href="/profile/<%= mergedArray[i].user._id %>" >
                <div class="d-flex flex-row align-items-center">
                     <%if( mergedArray[i].user.profilePic.url == "" ){%>
                    <img class="rounded-circle mr-3 feed-pic" src="/imgs/default.png" alt="Profile picture" width="26" height="26">
                    <%}else{%>
                    <img class="rounded-circle mr-3 feed-pic" src="<%= mergedArray[i].user.profilePic.url %>" alt="Profile picture" width="26" height="26">
                    <%}%>
                  <span class="font-weight-bold"><%= mergedArray[i].user.userName.toLowerCase() %></span>
                </div>
                
              </a>
              <span class="text-muted"><%= mergedArray[i].formattedElapsedTime %></span>
          </div>
          <div class="post-thumbnail">
        <!-- Check if the browser is Safari -->
        <% if (mergedArray[i].media.type === "video" && browser.name === "safari") { %>
          <a href="/post/<%= mergedArray[i]._id %>" class="post">
            <img class="img-fluid post-img lazy" data-src="<%= mergedArray[i].media.url %>" alt="Video">
          </a>
        <% } else if (mergedArray[i].media.type == "video") { %>
          
        <a href="/post/<%= mergedArray[i]._id %>" class="post">
          <video 
          
          id="my-video"
          class="video-js vjs-big-play-centered img-fluid post-video"
          disableRemotePlayback
          autoplay
          loop
          muted
          controls
          preload="auto"
          poster="<%= mergedArray[i].media.thumbnailUrl %>"
          data-setup='{"fluid": true, "userActions": {"doubleClick": false}, "controlBar": { "fullscreenToggle": false, "pictureInPictureToggle": false }}'
          playsinline
          >
            <source src="<%= mergedArray[i].media.url %>" type="video/mp4">
           
          </video>
        </a>
        <% } else { %>
          <a href="/post/<%= mergedArray[i]._id %>" class="post">
            <img class="img-fluid post-img lazy" data-src="<%= mergedArray[i].media.url %>" alt="Image">
          </a>
        <% } %>
      
        
          </div>
        <a href="/post/<%= mergedArray[i]._id%>" class="post">
          <div class="post-info ml-3 d-flex align-items-top flex-column p-2">
            <div class="d-flex align-items-top mb-1 justify-content-between ">

                
                <% if(mergedArray[i].category) {%>
                 
                  
                    <div>
                      <span class="font-weight-normal mr-1"><%= mergedArray[i].likes.length > 0 ? mergedArray[i].likes.length : 0 %> <span class="text-muted">likes</span></span>
                    </div>
                  
                      <div >
                        <div class="trophy-icon d-flex align-items-center justify-content-end">
                        <h3 class="m-0">PERSONAL RECORD</h3><i class="fas fa-trophy" style="color: yellow!important;"></i>
                      </div>
                        <div class="d-flex flex-column">
                          <% let bodyWeight = mergedArray[i].bodyweight == 0 ? "n/a" : mergedArray[i].bodyweight + "KG" %>
                          <p ><%= `${mergedArray[i].category}  ${mergedArray[i].weight}KG @ ${bodyWeight} bodyweight` %></p>
                        </div>
                      </div>


                 
                <%}else{%>
                  <span class="font-weight-normal mr-1"><%= mergedArray[i].likes.length > 0 ? mergedArray[i].likes.length : 0 %> <span class="text-muted">likes</span></span>
                  <%}%>
              </div>
             

              <div class="d-flex flex-column mt-2">
            
               
                  <span class="font-weight-normal mr-1"><%= mergedArray[i].caption %></span>
                  <span class="text-muted pb-2">view comments</span>
                </a>
              </div>
            </div>
          </a>
        </li>
        
      <% } %>
      
    
      
    </ul>
  </div>
</div>

<script src="/js/lazyLoadPosts.js">
  
</script>

<%- include('partials/footer') -%>