<%- include('partials/header') -%>

<div class="container" style="padding: 0 0.5rem;">
  <div class="row justify-content-center mt-5">
    <h1 class="col-12 mb-4 text-center">Leaderboard</h1>
    <form class="col-12 mb-4">
      <div class="form-group">
        <label for="category-select">Select a category:</label>
        <select class="form-control form-control-lg" id="category-select" name="category" onchange="this.form.submit()">
          <option value="">All categories</option>
          <% for (const category of ['benchpress', 'squat', 'deadlift']) { %>
          <option value="<%= category %>" <%= category === selectedCategory ? 'selected' : '' %>>
            <%= category.charAt(0).toUpperCase() + category.slice(1) %>
          </option>
          <% } %>
        </select>
      </div>
    </form>
    <% if (prs.length === 0) { %>
    <h2 class="col-12 text-center">No PRs found for <%= selectedCategory %></h2>
    <% } else { %>
    <div class="col-12 table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>BW</th>
            <th>Category</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody>
          <% for (const pr of prs) {%>
            <%  const matches = prs.filter(p => p.user.userName === pr.user.userName && p.bodyweight === pr.bodyweight);%>
            <%  const maxWeightPr = matches.reduce((max, p) => p.weight > max.weight ? p : max, matches[0]);%>
            <%  if (maxWeightPr === pr) { %>
              <tr>
                <td>
                  <a href="/post/<%= pr._id %>" class="post">
                    <%= pr.user.userName %>
                  </a>
                </td>
                <td>
                  <a href="/post/<%= pr._id %>" class="post">
                    <%= pr.bodyweight == 0 ? "n/a" : pr.bodyweight + "kg" %>
                  </a>
                </td>
                <td>
                  <a href="/post/<%= pr._id %>" class="post">
                    <%= pr.category %>
                  </a>
                </td>
                <td>
                  <a href="/post/<%= pr._id %>" class="post">
                    <%= pr.weight %>kg
                  </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') -%>
