<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
  
      <img class="img-fluid" src="<%= post.media.url%>" />
      
      
  </div>
  <div class="row align-items-center justify-content-between mt-3">
    <div class="col-3">
      <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
        <button class="btn btn-link p-0">
          <i class="far fa-heart"></i>
        </button>
      </form>
    </div>
    <div class="col-6 text-center">
      <span><%= post.likes %> likes</span>
    </div>
    <% if(post.user == user.id){ %>
    <div class="col-3 text-right">
      <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST">
        <button class="btn btn-link p-0">
          <i class="far fa-trash-alt"></i>
        </button>
      </form>
    </div>
    <% } %>
  </div>
  
  <div class="col-12 mt-3">
    <p><strong><%= post.user.userName.toLowerCase() %></strong> <%= post.caption %></p>
  </div>
</div>


<%- include('partials/footer') -%>
