<%- include('partials/header') -%>

<div class="container">
  <div class="row justify-content-center mt-5">
       <!-- Check if the browser is Safari -->
      <%  if (post.media.type == "video") { %>
       
          <video class="img-fluid post-video" src="<%= post.media.url %>" alt="Video" controls="false" controlsList="nodownload" playsinline mute loop autoplay  onerror="console.error('Error loading video:', this.error)">
            <source src="<%= post.media.url %>" type="video/mp4">
          </video>
        
      <% } else { %>
          <img class="img-fluid post-img" src="<%= post.media.url %>" alt="Image">
      <% } %>
      
  </div>
  

  <div class="col-12 p-4">
    <a href="/profile/<%= post.user._id %>" ><strong><%= user.userName.toLowerCase() %></strong></a> <p><%= post.caption %></p>
  </div>


  <div class="row align-items-center justify-content-between mb-3">
    <div class="col-3">
      <% if(!post.catagory ){ %>
      <form action="/post/likePost/<%= post._id %>?_method=PUT" method="POST">
        <button class="btn btn-link p-0">
          <i class="far fa-heart"></i>
        </button>
      </form>
      <%}%>
      <% if(post.catagory ){ %>
        <form action="/pr/likePR/<%= post._id %>?_method=PUT" method="POST">
          <button class="btn btn-link p-0">
            <i class="far fa-heart"></i>
          </button>
        </form>
        <%}%>
    </div>
    <div class="col-6 text-center">
      <span><%= post.likes %> likes</span>
    </div>
    <% if(post.user._id.toString() == loggedUser._id.toString() && !post.catagory ){ %>
    <div class="col-3 text-right">
      <form action="/post/deletePost/<%= post._id %>?_method=DELETE" method="POST">
        <button class="btn btn-link p-0">
          <i class="far fa-trash-alt"></i>
        </button>
      </form>
    </div>
    <% } %>
    <% if(post.user._id.toString() == loggedUser._id.toString() && post.catagory){ %>
      <div class="col-3 text-right">
        <form action="/pr/deletePR/<%= post._id %>?_method=DELETE" method="POST">
          <button class="btn btn-link p-0">
            <i class="far fa-trash-alt"></i>
          </button>
        </form>
      </div>
      <% } %>
   
 

  </div>
  <ul class="comments">
    <% for(var i=0; i<comments.length; i++) {%>
      <li class="d-flex">
        <a href="/profile/<%= comments[i].user._id %>" ><p><strong><%= comments[i].user.userName%></strong>:</p></a>  
        <p class="mr-3"><%= comments[i].comment%></p>
        <% if(comments[i].user._id.toString() == loggedUser._id.toString() ){ %>
          <div class="col-3 text-right">
            <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST">
              <button class="btn btn-link p-0">
                <i class="far fa-trash-alt"></i>
              </button>
            </form>
          </div>
          <% } %>
      </li>
    
    <% } %>
  </ul>
  <div class="">
    <form action="/comment/createComment/<%=post._id%>" method="POST">
      <div class="mb-3 d-flex justify-content-center w-70 comment-form">
          <input type="text" class="form-control" id="comment" name="comment" placeholder="add comment" required>
          <button class="w-50 btn-primary btn" type="submit" class="btn btn-primary">Submit</button>
        </div>
      
    </form>
  </div>

</div>

<script>
const video = document.querySelector('video');
  const playButton = document.querySelector('.play-button');
  
  playButton.addEventListener('click', () => {
    if (video.paused) {
      video.play();
      playButton.textContent = 'Pause';
    } else {
      video.pause();
      playButton.textContent = 'Play';
    }
  }); 
  </script>
<%- include('partials/footer') -%>