<%- include('partials/header') -%>

<div class="container">
  <%  if (post.media.type == "video") { %>
  <div class="row justify-content-center mt-4 video-margin post-thumbnail">
       <!-- Check if the browser is Safari -->
          <video
          id="my-video"
          class="video-js vjs-big-play-centered img-fluid post-video"
          disableRemotePlayback
          autoplay
          loop
          controls
          preload="auto"
          poster="<%= post.media.thumbnailUrl %>"
          data-setup='{"fluid": true, "userActions": {"doubleClick": false}, "controlBar": { "fullscreenToggle": false, "pictureInPictureToggle": false }}'
          playsinline
          >
          <source src="<%= post.media.url %>" type="video/mp4">      
        </video>
      <% } else { %>
        <div class="row justify-content-center mt-4"></div>
          <img class="img-fluid post-img" src="<%= post.media.url %>" alt="Image">
      <% } %>
  </div>

  <div class="col-12 p-4">
    <div class="d-flex justify-content-between align-items-top">
      
        <% if(post.category) {%>
            <div >
              <div class="trophy-icon d-flex align-items-center ">
              <h3 class="m-0">PERSONAL RECORD</h3><i class="fas fa-trophy" style="color: rgb(228, 228, 46)!important;"></i>
            </div>
              <div class="d-flex flex-column">
                <% let bodyWeight = post.bodyweight == 0 ? "n/a" : post.bodyweight + "KG" %>
                <p ><%= `${post.category}  ${post.weight}KG @ ${bodyWeight} bodyweight` %></p>
              </div>
            </div>
            <span class="text-muted"><%= post.formattedElapsedTime %></span>
          <%}%>
    </div>
    <div class="row align-items-center justify-content-between mb-3 mt-2">
      <div class="d-flex">
        <a href="/profile/<%= post.user._id %>" ><strong style="margin-right:0.5rem;"><%= user.userName.toLowerCase() %></strong></a> <p><%= post.caption %></p>
      </div>
      <div class="d-flex pt-2 w-0 justify-content-between">
        <% if(!post.category ){ %>
        <form action="/post/likePost/<%= post._id %>" method="POST">
          <button class="btn btn-link p-0">
            <% if(post.likes.toString().includes(loggedUser._id.toString())) { %>
              <%console.log('true') %>
              <i class="fas fa-heart" style="font-weight:900!important ;"></i>
            <% } else { %>
              <i class="far fa-heart"></i>
            <% } %>
          </button>
        </form>
        <%}%>
        <% if(post.category ){ %>
          
          <form action="/pr/likePR/<%= post._id %>" method="POST">
            <button class="btn btn-link p-0">

              <% if(post.likes.toString().includes(loggedUser._id.toString())) { %>
                <i class="fas fa-heart" style="font-weight:900!important ;"></i>
              <% } else { %>
                <i class="far fa-heart"></i>
              <% } %>
              
            </button>
          </form>
          <%}%>
          <div class="text-center">
            <a href="/post/<%=post._id%>/likes"><span><%= post.likes.length %> likes</span></a>
          </div>
          <% if(post.user._id.toString() == loggedUser._id.toString() && !post.category ){ %>
            <div class=" text-right">
              <form action="/post/deletePost/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-link p-0">
                  <i class="far fa-trash-alt"></i>
                </button>
              </form>
            </div>
            <% } %>
            <% if(post.user._id.toString() == loggedUser._id.toString() && post.category){ %>
              <div class="text-right">
                <form action="/pr/deletePR/<%= post._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-link p-0">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </form>
              </div>
              <% } %>
           
          </div>
    </div>
    
<!-- //comments -->
  </div><ul class="comments">
    <% for(var i=0; i<comments.length; i++){ %>
      <% if(!comments[i].parentComment){ %>
        <li class="d-flex mt-2">
          <img class="rounded-circle mr-3 feed-pic" src="<%= comments[i].user.profilePic.url %>" alt="Profile picture" width="26" height="26">
          <a href="/profile/<%= comments[i].user._id %>" ><p><strong><%= comments[i].user.userName%></strong>:</p></a>  
          <p class="ml-2"><%= comments[i].comment %></p> 
          <% if(comments[i].user._id.toString() == loggedUser._id.toString() ){ %>
            <div class="col-3 text-right">
              <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST">
                <button class="btn btn-link p-0">
                  <i class="fas fa-times"></i>
                </button>
              </form>
            </div>
          <% } %>         
        </li>
        <a class="reply-btn text-muted" onclick="toggleForm('<%=comments[i]._id%>-reply-form')">reply</a>
        <% if(comments[i].replies.length < 3) {%>
          <% for(var j=0; j<comments[i].replies.length; j++) {%>
            <%let reply = comments[i]._id %>
            <ul class="replies">
            <li class="d-flex mt-2 ml-5" id="reply-<%= comments[i].replies[j]._id %>">
              <img class="rounded-circle mr-3 feed-pic" src="<%= comments[i].replies[j].user.profilePic.url %>" alt="Profile picture" width="26" height="26">
              <a href="/profile/<%= comments[i].replies[j].user._id %>" ><p><strong><%= comments[i].replies[j].user.userName%></strong>:</p></a>  
              <p class="ml-2"><%= comments[i].replies[j].comment %></p>   
              <% if(comments[i].replies[j].user._id.toString() == loggedUser._id.toString() ){ %>
                <div class="col-3 text-right">
                  <form action="/comment/deleteReply/<%= comments[i].replies[j]._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-link p-0">
                      <i class="fas fa-times"></i>
                    </button>
                  </form>
                </div>
              <% } %>
            </li>
            <a class="reply-btn mb-3 text-muted" onclick="toggleForm('<%=comments[i].replies[j]._id%>-reply-form')">reply</a>
                <li id="<%=comments[i].replies[j]._id%>-reply-form" class="d-none ml-5 reply-form mt-2">
                  <form action="/comment/createComment/<%=post._id%>" method="POST">
                    <div class="mb-3 d-flex justify-content-center w-70 comment-form">
                      <input type="text" class="form-control" style="border-radius: 0.6rem 0rem 0rem 0.6rem;" id="comment" name="comment" placeholder="add comment" value="@<%= comments[i].replies[j].user.userName%> "required>
                      <input type="hidden" name="parentComment" value="<%=reply%>">
                      <input type="hidden" name="replyToUser" value="<%=comments[i].replies[j].user._id%>">
                      <button class="w-50 btn-primary btn" type="submit" class="btn btn-primary" style="border-radius: 0rem 0.6rem 0.6rem 0rem!important;">Reply</button>
                    </div>
                  </form>
                </li>
          </ul>
          <% } %>
        <% } else {%>
          <a class="reply-btn text-muted" onclick="toggleReplies('<%=comments[i]._id%>-replies-list')">view <%=comments[i].replies.length%> comments</a>
        <%}%>
        <form id="<%=comments[i]._id%>-reply-form" action="/comment/createComment/<%=post._id%>" method="POST" class="mt-2 d-none reply-form">
          <div class="mb-3 d-flex justify-content-center w-70 comment-form">
            <input type="text" class="form-control" style="border-radius: 0.6rem 0rem 0rem 0.6rem;" id="comment" name="comment" value="@<%=comments[i].user.userName%> " required>
            <input type="hidden" name="parentComment" value="<%=comments[i]._id%>">
            <input type="hidden" name="replyToUser" value="<%=comments[i].user._id%>">
            <button class="w-50 btn-primary btn" type="submit" class="btn btn-primary" style="border-radius: 0rem 0.6rem 0.6rem 0rem!important;"> reply</button>
          </div>
        </form>
        <li id="<%=comments[i]._id%>-replies-list" class="ml-5 d-none mt-2">
         <div class="w-100">
          <% if (comments[i].replies.length > 0) { %>
            <%let reply = comments[i]._id %>
            <ul class="replies">
              <% for(var j=0; j<comments[i].replies.length; j++) {%>
                <li class="d-flex mt-2 " id="reply-<%= comments[i].replies[j]._id %>">
                 
                  <img class="rounded-circle mr-3 feed-pic" src="<%= comments[i].replies[j].user.profilePic.url %>" alt="Profile picture" width="26" height="26">
                  <a href="/profile/<%= comments[i].replies[j].user._id %>" ><p><strong><%= comments[i].replies[j].user.userName%></strong>:</p></a>  
                  <p class="ml-2"><%= comments[i].replies[j].comment %></p>   
                  <% if(comments[i].replies[j].user._id.toString() == loggedUser._id.toString() ){ %>
                    <div class="col-3 text-right">
                      <form action="/comment/deleteReply/<%= comments[i].replies[j]._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-link p-0">
                          <i class="fas fa-times"></i>
                        </button>
                      </form>
                    </div>
                    <% } %>
                </li>
                <a class="reply-btn mb-3 text-muted" onclick="toggleForm('<%=comments[i].replies[j]._id%>-reply-form')">reply</a>
                <li id="<%=comments[i].replies[j]._id%>-reply-form" class="d-none ml-5 reply-form mt-2">
                  <form action="/comment/createComment/<%=post._id%>" method="POST">
                    <div class="mb-3 d-flex justify-content-center w-70 comment-form">
                      <input type="text" class="form-control" style="border-radius: 0.6rem 0rem 0rem 0.6rem;" id="comment" name="comment" placeholder="add comment" value="@<%= comments[i].replies[j].user.userName%> "required>
                      <input type="hidden" name="parentComment" value="<%=reply%>">
                      <input type="hidden" name="replyToUser" value="<%=comments[i].replies[j].user._id%>">
                      <button class="w-50 btn-primary btn" type="submit" class="btn btn-primary" style="border-radius: 0rem 0.6rem 0.6rem 0rem!important;">Reply</button>
                    </div>
                  </form>
                </li>
              <% } %>
            </ul>
          <% } %>
          </div> 
        </li>
      <% } %>
      <% } %>
    </ul>

  <div class="">
    <form action="/comment/createComment/<%=post._id%>" method="POST">
      <div class="mb-3 d-flex justify-content-center w-70 comment-form">
        <input type="text" class="form-control" style="border-radius: 0.6rem 0rem 0rem 0.6rem;"id="comment" name="comment" placeholder="add comment" required>
        <button class="w-50 btn-primary btn" type="submit" class="btn btn-primary" style="border-radius: 0rem 0.6rem 0.6rem 0rem!important;">Submit</button>
      </div>
    </form>
  </div>
  
</div>

<script>
  
  const toggleForm = (target) => {
  // get all the reply form elements
  let replyForms = document.getElementsByClassName('reply-form')
  for (let i = 0; i < replyForms.length; i++) {
    // hide any reply forms that are currently displayed
    if (!replyForms[i].classList.contains('d-none')) {
      replyForms[i].classList.remove('d-flex')
      replyForms[i].classList.add('d-none')
    }
  }
  // show the target reply form
  let replyForm = document.getElementById(target)
  if (replyForm.classList.contains('d-none')) {
    replyForm.classList.remove('d-none')
    replyForm.classList.add('d-flex')
  } else {
    replyForm.classList.remove('d-flex')
    replyForm.classList.add('d-none')
  }
}

const toggleReplies = (target) => {
  // get all the reply form elements
  let replyList = document.getElementById(target)
  
  if (replyList.classList.contains('d-none')) {
    replyList.classList.remove('d-none')
    replyList.classList.add('d-flex')
  } else {
    replyList.classList.remove('d-flex')
    replyList.classList.add('d-none')
  }
}

</script>

<%- include('partials/footer') -%>