<%- include('partials/header') -%>

<div class="container">
  <div class="row justify-content-center mt-5">
       <!-- Check if the browser is Safari -->
      <%  if (post.media.type == "video") { %>
       
          <video class="img-fluid post-img" src="<%= post.media.url %>" alt="Video" controls="false" controlsList="nodownload" playsinline mute loop autoplay  onerror="console.error('Error loading video:', this.error)">
            <source src="<%= post.media.url %>" type="video/mp4">
          </video>
        
      <% } else { %>
          <img class="img-fluid post-img" src="<%= post.media.url %>" alt="Image">
      <% } %>
      
      
  </div>
  

  <div class="col-12 p-2">
    <a href="/profile/<%= post.user._id %>" ><strong><%= user.userName.toLowerCase() %></strong></a> <p><%= post.caption %></p>
  </div>


  <div class="row align-items-center justify-content-between mb-3">
    <div class="col-3">
      <% if(!post.catagory ){ %>
      <form action="/post/likePost/<%= post._id %>?_method=PUT" method="POST">
        <button class="btn btn-link p-0">
          <i class="far fa-heart"></i>
        </button>
      </form>
      <%}%>
      <% if(post.catagory ){ %>
        <form action="/pr/likePR/<%= post._id %>?_method=PUT" method="POST">
          <button class="btn btn-link p-0">
            <i class="far fa-heart"></i>
          </button>
        </form>
        <%}%>
    </div>
    <div class="col-6 text-center">
      <span><%= post.likes %> likes</span>
    </div>
    <% if(post.user._id.toString() == loggedUser._id.toString() && !post.catagory ){ %>
    <div class="col-3 text-right">
      <form action="/post/deletePost/<%= post._id %>?_method=DELETE" method="POST">
        <button class="btn btn-link p-0">
          <i class="far fa-trash-alt"></i>
        </button>
      </form>
    </div>
    <% } %>
    <% if(post.user._id.toString() == loggedUser._id.toString() && post.catagory){ %>
      <div class="col-3 text-right">
        <form action="/pr/deletePR/<%= post._id %>?_method=DELETE" method="POST">
          <button class="btn btn-link p-0">
            <i class="far fa-trash-alt"></i>
          </button>
        </form>
      </div>
      <% } %>
   
 

  </div>

</div>

<script>
const video = document.querySelector('video');
  const playButton = document.querySelector('.play-button');
  
  playButton.addEventListener('click', () => {
    if (video.paused) {
      video.play();
      playButton.textContent = 'Pause';
    } else {
      video.pause();
      playButton.textContent = 'Play';
    }
  }); 
  </script>
<%- include('partials/footer') -%>