<%- include('partials/header') -%>
<div class="container">
  <div class="">
    
    
       
    <div class="profile-info">
      
      <h2> <%= user.userName.toLowerCase() %></h2>
      <div class="">
        <img class="rounded-circle mr-3 mb-2" src="/imgs/Default-Profile-Picture-Transparent-Images.png" alt="Profile picture" width="100" height="100">
        <% console.log(user._id) %>
        <% console.log(loggedUser._id) %>
  <% if(user._id.toString() == loggedUser._id.toString()){ %>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    <% } else {%>
      <a href="#" class="col-3 btn btn-primary">Add Friend</a>
  <% } %>
    
      </div>
  </div>
  
    <div class="col-0">
      <ul class="row list-unstyled profile-grid" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); grid-gap: 0;">
        <%for(var i= (posts.length-1); i>=0; i--){%>

        <li style="width: 100%;">
          <a href="/post/<%= posts[i]._id%>" style="display: block; position: relative; padding-bottom: 100%; height: 0;">
          
            <img class="img-fluid" src="<%= posts[i].media.thumbnailUrl %>" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
            <% if (posts[i].media.type === 'video') { %>
              <i class="fa fa-play-circle" style="font-size: 35px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;"></i>
            <% } %>

          </a>
        </li>
        <% } %>
      </ul>
    
    </div>
  </div>
</div>



<%- include('partials/footer') -%>