<%- include('partials/header') -%>
<div class="container">
  <div class="">
    
    
       
    <div class="profile-info">
      <div>
        
        <% if(user._id.toString() == loggedUser._id.toString()){ %>
      <a href="/editProfile/<%= user._id %>"><h2> <%= user.userName.toLowerCase() %><i class="fas fa-edit"></i></h2></a>
        <% }else{ %>
      <h2> <%= user.userName.toLowerCase() %> </h2>
        <% } %>


      <a href=" /users/<%=user._id%>/followers ">
        <p class="small">Followers: <%= user.followers.length %></p>
        <p class="small">Following: <%= user.following.length %></p>
      </a>
      
      </div>

      <div class="">
        <div id="form-container">

          <% if(user._id.toString() == loggedUser._id.toString()){ %>
        <form id="profile-form" action="/users/saveProfilePic/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  
            <label for="profilePic" class="form-label">Profile Pic</label>
            <input type="file" class="form-control" id="profilePic" name="file" accept="image/*" style="display: none;">
            <button id="submit-btn" type="submit">Submit</button>
       
        </form>
        <% } %>

        </div>

      
        <% if( user.profilePic.url == "" ){%>
        <img  id="profile-pic" class="rounded-circle mr-3 mb-2 pointer" src="/imgs/default.png" alt="Profile picture" width="100" height="100">
        <%}else{%>
        <img  id="profile-pic" class="rounded-circle mr-3 mb-2 pointer" src="<%= user.profilePic.url %>" alt="Profile picture" width="100" height="100">
        <%}%>


  <% if(user._id.toString() == loggedUser._id.toString()){ %>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    <% } else {%>
      <% if (loggedUser && loggedUser._id.toString() !== user._id.toString()) { %>
        <% if (isFollowing) { %>
          <form action="/users/<%= loggedUser._id %>/unfollow/<%= user._id %>?_method=DELETE" method="POST">
            <button class="col-3 btn btn-primary" type="submit">Unfollow</button>
          </form>
        <% } else { %>
          <form action="/users/<%= loggedUser._id %>/follow/<%= user._id %>" method="POST">
            <button class="col-3 btn btn-primary" type="submit">Follow</button>
          </form>
        <% } %>
      <% } %>
  <% } %>

      </div>
  </div>
  
    <div class="col-0">

      <div class="col-12 d-flex">
        <button id="posts-btn" class="btn btn-primary rounded-0 border-0 posts-btn active" ><i class="fas fa-table"></i></button>
        <button id="table-btn" class="btn btn-primary rounded-0 border-0 table-btn"><i class="fas fa-trophy"></i></button>
      </div>

     
      <ul id="posts-container" class="row list-unstyled profile-grid" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); grid-gap: 0;">
        <% if(posts.length > 0){ %>
        <%for(var i= (posts.length-1); i>=0; i--){%>
        
        <li style="width: 100%;">
          <a href="/post/<%= posts[i]._id%>" style="display: block; position: relative; padding-bottom: 100%; height: 0;">
          
            <img class="img-fluid" src="<%= posts[i].media.thumbnailUrl %>" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
            <% if (posts[i].media.type === 'video') { %>
              <i class="fa fa-play-circle" style="font-size: 35px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;"></i>
            <% } %>

          </a>
        </li>
     
      
      <% } %>
      <% } else { %>
        <div class="container" style="padding: 0rem 0.2rem;">
          <p class="p-3">this user has no posts</p>
        </div>
      <% } %>
      </ul>
      
    
    </div>
   
    <div id="table-container" style="display:none;" class="col-12">
      <% if(prs.length > 0){ %>
      <table  class="styled-table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Weight</th>
            <th >BW</th>
          </tr>
        </thead>  
        <tbody>
          <% for (const pr of prs) {%>
              <tr>
                <td>
                  <a href="/post/<%= pr._id %>" class="post">
                    <%= pr.category %>
                  </a>
                </td>
                <td>
                  <a href="/post/<%= pr._id %>" class="post">
                    <%= pr.weight %>kg
                  </a>
                </td>
                <td>
                  <a href="/post/<%= pr._id %>" class="post">
                    <%= pr.bodyweight == 0 ? "n/a" : pr.bodyweight + "kg" %>
                  </a>
                </td>
              </tr>
         
            <% } %>
       
        </tbody>
      </table>
    <% } else { %>
      <div class="container">
        <p class="p-3">this user has no personal records</p>
      </div>
       <% } %>
    </div>
</div>
<!-- <script src="/js/profile.js"></script> -->
<script>
  const postsContainer = document.getElementById("posts-container");
  const tableContainer = document.getElementById("table-container");
  const postsBtn = document.getElementById("posts-btn");
  const tableBtn = document.getElementById("table-btn");

  postsBtn.classList.add("active");

  
postsBtn.addEventListener("click", () => {
  postsContainer.style.display = "grid";
  tableContainer.style.display = "none";
  postsBtn.classList.add("active"); // Add active class to the clicked button
  tableBtn.classList.remove("active"); // Remove active class from the other button
});

tableBtn.addEventListener("click", () => {
  postsContainer.style.display = "none";
  tableContainer.style.display = "block";
  tableBtn.classList.add("active"); // Add active class to the clicked button
  postsBtn.classList.remove("active"); // Remove active class from the other button
});

// Wait for the DOM to load
document.addEventListener('DOMContentLoaded', function() {

// Get references to the profile pic and file input elements
const profilePic = document.querySelector('#profile-pic');
const fileInput = document.querySelector('.form-control');

// Hide the file input initially
fileInput.style.display = 'none';

// Add a click event listener to the profile pic element
profilePic.addEventListener('click', function() {
  console.log('click')
  // Show the file input when the profile pic is clicked
  fileInput.style.display = 'block';

  // Simulate a click on the file input to trigger the file selection dialog
  fileInput.click();
});

// Add a change event listener to the file input element
fileInput.addEventListener('change', function() {

  // Submit the form when a file is selected
  this.form.submit();
});
});

</script>


<%- include('partials/footer') -%>